body {
    font-family: Arial, sans-serif;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    position: relative;
}

.remove-button {
    position: absolute;
    right: 0;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

