<!DOCTYPE html>
<html>

<head>
    <title>Create New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body style="display: flex; flex-direction: column; justify-content: center; height: 100vh; width: 100vw;">
    <h1 class="d-flex flex-column justify-content-center  align-items-center" >Create a New Post</h1>
    <form action="/blogs" method="POST" class="d-flex flex-column justify-content-center align-items-center" >
        <div class="mb-3" style="width: 50%;">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group" style="width: 50%;" >
            <label for="content">Content</label>
            <textarea class="form-control" id="content" rows="3" name="content"></textarea>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="#"><button type="submit" class="btn btn-primary " style="margin-left: 2px">Submit</button>
            </a>
            <a href="/blogs"><button type="button" class="btn btn-danger" style="margin-left: 2px">Cancel</button>
            </a>
        </div>
    </form>

</body>

</html>