.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 50px auto;
  padding: 20px;
}

.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  background-color: black;
  transform-origin: bottom center;
  transition: all 0.5s ease-in-out;
}

.hour-hand {
  width: 4px;
  height: 70px;
  top: 35%;
  left: calc(50% - 2px);
  margin-top: -35px;
  z-index: 3;
}

.minute-hand {
  width: 2px;
  height: 90px;
  top: 32%;
  left: calc(50% - 1px);
  margin-top: -45px;
  z-index: 2;

}

.second-hand {
  width: 1px;
  height: 100px;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -0.5px;
  z-index: 1;

}

.center-circle {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
}
