html{
    height: 100%;
    width: 100%;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, rgba(238, 238, 238, 0), rgb(128, 128, 128));
    height: 100%;
}
.container-s3{
    display: none;
}

.parent-content{
    display: none;
}

.navbar{
    display: block;
    width: 100%;
    background-color: azure;
    height: fit-content;
}

.navbar-elements{
    display: flex;
    font-family: sans-serif;
}


.navbar-elements .left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10%;
    height: 100%;

    background-color: rgb(192, 192, 192);
    align-items: center;
}

.navbar-elements .left a{
    text-decoration: none;
    font-size: 28px;
    color: white;
}


.navbar-elements .right{
    display: flex;
    overflow-x: hidden;
    justify-content: right;   
    width: 100%;
    height: 100%;
    align-items: center;
}

.navbar-elements .right ul{
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 150%;
    margin-right: 28%;
}

.navbar-elements .right a{
    text-decoration: none;
    font-size: 28px;
    color: black;
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-height: 100%;
}
.content p {
    text-align: right;
    padding-left: 3%;
    color: white;
    font-size: 68px;
    margin-top: 10%;
}


.container{
    display: none;
}

.button-container{
    background-color: black;
}

.button {
    background-color: rgb(255, 255, 255); /* Green */
    color: rgb(0, 0, 0);
    padding: 6px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 50em;
    border: 5px solid rgb(90, 90, 90);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .button4 {
    border-radius: 12px;
}